[submodule "HackBrea-website"]
	path = HackBrea-website
	url = https://github.com/dudeofawesome/HackBrea-website.git
[submodule "HackBrea-promo-material"]
	path = HackBrea-promo-material
	url = https://github.com/dudeofawesome/HackBrea-promo-material.git
